# stack/deployment name

deployment_name     = "jul18"
resource_group_name = "jul18rg"
location            = "centralindia"

# VM
vm_size        = "Standard_B1ms"
admin_username = "azureuser"
os_disk_size_gb = 30

disk_type = "Standard_LRS"
public_ip = true

# Tags (optional)
tags = {
  environment = "dev"
  Schedule = "jul18schedule01"
}
