# stack/deployment name
location = "centralindia"
harness_cloud_connector_id = "azconn02"
public_ip = true

deployment_name     = "hns-2025-jun-25"
resource_group_name = "hns-2025-jun-25-rg"

target_vm_public_ip = "52.172.205.195"
target_vm_id = "/subscriptions/ba1879ae-bce3-4ba5-9d49-a990f010fea8/resourceGroups/hns-2025-jun-25-rg/providers/Microsoft.Compute/virtualMachines/hns-2025-jun-25-vm"

alb_cert_password = "abc123"

# Tags (optional)
tags = {
  environment = "dev"
}

#
#
#

is_create_auto_stop_rule = true
app_gateway_id = "/subscriptions/ba1879ae-bce3-4ba5-9d49-a990f010fea8/resourceGroups/hns-2025-jun-25-rg/providers/Microsoft.Network/applicationGateways/hns-2025-jun-25-gw"
alb_certificate_id = "/subscriptions/ba1879ae-bce3-4ba5-9d49-a990f010fea8/resourceGroups/hns-2025-jun-25-rg/providers/Microsoft.Network/applicationGateways/hns-2025-jun-25-gw/sslCertificates/appgw-cert"

