# stack/deployment name

deployment_name     = "hns-2025-06-003"
resource_group_name = "hns-autostop-azure-002-rg"
location            = "Central India"

# VM
vm_size        = "Standard_B1ms"
admin_username = "azureuser"
os_disk_size_gb = 30

disk_type = "Standard_LRS"
public_ip = true

# Tags (optional)
tags = {
  environment = "dev"
}
